In [50]:
#Importing all necessary libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Data preprocessing and cleaning

In [51]:
# Importing the 4 csv files

df_1 = pd.read_csv('/Users/carlhumbs/Library/Mobile Documents/com~apple~CloudDocs/MDDB/Marketing Track/Marketing Strategy/Themepark datasets/Themeparcs I.csv', delimiter=';')
df_2 = pd.read_csv('/Users/carlhumbs/Library/Mobile Documents/com~apple~CloudDocs/MDDB/Marketing Track/Marketing Strategy/Themepark datasets/Themeparcs II.csv', delimiter=';')
df_3 = pd.read_csv('/Users/carlhumbs/Library/Mobile Documents/com~apple~CloudDocs/MDDB/Marketing Track/Marketing Strategy/Themepark datasets/Themeparcs III.csv', delimiter=';')
df_4 = pd.read_csv('/Users/carlhumbs/Library/Mobile Documents/com~apple~CloudDocs/MDDB/Marketing Track/Marketing Strategy/Themepark datasets/Themeparcs IV.csv', delimiter=';')

In [52]:
# Merging the 4 csv files into 1 single table

# Concatenate the DataFrames along the rows
combined_df = pd.concat([df_1, df_2, df_3, df_4], ignore_index=True)

# To verify the combined DataFrame
print(combined_df.head())

# Now combined_df contains all the rows from df_1, df_2, df_3, and df_4 in a single DataFrame.

               Date                     Profile  \
0  12/31/23 9:40 PM  Wild Adventures Theme Park
1  12/31/23 8:01 PM            Fun Spot America
2  12/31/23 7:30 PM            Fun Spot America
3  12/31/23 7:00 PM            Disneyland Paris
4  12/31/23 7:00 PM       Silverwood Theme Park

                                             Message  Number of Reactions  \
0  üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...                 16.0
1  See you next year! üòâ                Don‚Äôt miss...                 38.0
2  Don't miss our HUGE firework display ! ü•≥\n\n#f...                 23.0
3     Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ                646.0
4  It's the last day of our New Year's Sale! Save...                 17.0

   Number of Shares  Number of Comments (primary)  Number of Shares.1  \
0               NaN                           2.0                 2.0
1               NaN                           1.0                 2.0
2               NaN                           2.0                 3.0
3               NaN                          52.0                12.0
4               NaN                           2.0                 0.0

   Comments per post  Comments on posts by fans Post interaction rate  \
0                2.0                        2.0              1,09E+12
1                1.0                        1.0              4,17E+11
2                2.0                        2.0              2,85E+11
3               56.0                       56.0              1,36E+11
4                2.0                        2.0              4,96E+11

  Engagement  Number of Likes  Link-posts  Picture Posts  Video-posts  \
0   1,09E+12             13.0         NaN            1.0          NaN
1   4,17E+11             33.0         NaN            NaN          NaN
2   2,85E+11             21.0         NaN            NaN          1.0
3   1,36E+11            478.0         NaN            1.0          NaN
4   4,96E+11             16.0         NaN            NaN          1.0

    Profile-ID                          Post-ID  \
0  84679583132      84679583132_770120045161180
1   1,8402E+11     184020466977_767286052104076
2   1,8402E+11     184020466977_767267948772553
3  6,52389E+14  652389081615295_775974521237956
4  7,62702E+14  762701550509617_678920137770716

                                                Link
0  https://www.facebook.com/617429960430190/posts...
1  https://www.facebook.com/653224623510220/posts...
2  https://www.facebook.com/653224623510220/posts...
3  https://www.facebook.com/724434559725286/posts...
4  https://www.facebook.com/562559642740100/posts...

In [53]:
combined_df

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,NaN,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15438,01/01/2023 02:00,Wild Adventures Theme Park,LAST CHANCE! \n\nPrices on 2023 Season Passes ...,20.0,NaN,1.0,0.0,2.0,2.0,"1,25E+11","1,25E+11",20.0,NaN,1.0,NaN,84679583132,84679583132_10159284713193133,https://www.facebook.com/WildAdventures/photos...
15439,01/01/2023 01:20,Playland,O Grupo Playcenter e os Parques Playcenter Fam...,7.0,NaN,1.0,0.0,1.0,1.0,"2,46E+09","2,46E+09",7.0,NaN,1.0,NaN,"1,70866E+14",170865866397863_2401446080006486,https://www.facebook.com/170865866397863/posts...
15440,01/01/2023 00:01,Disneyland Paris,Gelukkig 2023! Laat de magie dit jaar stralen ...,833.0,NaN,40.0,31.0,44.0,44.0,"1,75E+12","1,75E+12",621.0,NaN,NaN,1.0,"6,52389E+14",652389081615295_2176203019233886,https://www.facebook.com/652389081615295/posts...
15441,01/01/2023 00:00,Six Flags Over Georgia & Hurricane Harbor,What are your 2023 New Years resolutions? ‚ú®\n\...,58.0,NaN,7.0,2.0,9.0,9.0,"1,42E+12","1,42E+12",49.0,NaN,1.0,NaN,34284255238,34284255238_10160187479800239,https://www.facebook.com/sixflagsovergeorgia/p...
15442,01/01/2023 00:00,Knott's Berry Farm,The countdown to 2023 is on!üéâ Join us tonight ...,451.0,NaN,31.0,28.0,66.0,66.0,"8,60E+11","8,60E+11",399.0,NaN,1.0,NaN,10286130875,10286130875_10158812069760876,https://www.facebook.com/KnottsBerryFarm/photo...

### 1.1 Cleaning the dataset

In [54]:
# Check for missing values in the combined DataFrame
missing_values = combined_df.isnull().sum()

# Display the count of missing values for each column
print("Missing values in each column:")
print(missing_values)

# If you want to display only the columns with missing values:
print("\nColumns with missing values:")
print(missing_values[missing_values > 0])

Missing values in each column:
Date                                0
Profile                             0
Message                             0
Number of Reactions                 0
Number of Shares                15443
Number of Comments (primary)        0
Number of Shares.1                  0
Comments per post                   0
Comments on posts by fans           0
Post interaction rate               0
Engagement                          0
Number of Likes                     0
Link-posts                      14888
Picture Posts                    3881
Video-posts                     12964
Profile-ID                          0
Post-ID                             0
Link                                0
dtype: int64

Columns with missing values:
Number of Shares    15443
Link-posts          14888
Picture Posts        3881
Video-posts         12964
dtype: int64

In [55]:
# Deleting the "Number of Shares" column as it is empty in every single row of the dataset
combined_df.drop(columns=['Number of Shares'], inplace=True)

# Dropping the "Link-posts" column as it is empty for almost all rows
combined_df.drop(columns=['Link-posts'], inplace=True)

In [58]:
combined_df

,Date,Profile,Message,Number of Reactions,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15438,01/01/2023 02:00,Wild Adventures Theme Park,LAST CHANCE! \n\nPrices on 2023 Season Passes ...,20.0,1.0,0.0,2.0,2.0,"1,25E+11","1,25E+11",20.0,1.0,NaN,84679583132,84679583132_10159284713193133,https://www.facebook.com/WildAdventures/photos...
15439,01/01/2023 01:20,Playland,O Grupo Playcenter e os Parques Playcenter Fam...,7.0,1.0,0.0,1.0,1.0,"2,46E+09","2,46E+09",7.0,1.0,NaN,"1,70866E+14",170865866397863_2401446080006486,https://www.facebook.com/170865866397863/posts...
15440,01/01/2023 00:01,Disneyland Paris,Gelukkig 2023! Laat de magie dit jaar stralen ...,833.0,40.0,31.0,44.0,44.0,"1,75E+12","1,75E+12",621.0,NaN,1.0,"6,52389E+14",652389081615295_2176203019233886,https://www.facebook.com/652389081615295/posts...
15441,01/01/2023 00:00,Six Flags Over Georgia & Hurricane Harbor,What are your 2023 New Years resolutions? ‚ú®\n\...,58.0,7.0,2.0,9.0,9.0,"1,42E+12","1,42E+12",49.0,1.0,NaN,34284255238,34284255238_10160187479800239,https://www.facebook.com/sixflagsovergeorgia/p...
15442,01/01/2023 00:00,Knott's Berry Farm,The countdown to 2023 is on!üéâ Join us tonight ...,451.0,31.0,28.0,66.0,66.0,"8,60E+11","8,60E+11",399.0,1.0,NaN,10286130875,10286130875_10158812069760876,https://www.facebook.com/KnottsBerryFarm/photo...